
*.pyc
__pycache__
.git
.github
.gitignore
.gitattributes
.gitkeep
.coverage
.flake8
.editorconfig
.pre-commit-config.yaml
.readthedocs.yml
env
.envs/
.idea

desktop.ini
LICENCE
PLANNING.md
README.md
docs
